#block::-webkit-scrollbar {
    width: 5px !important;
}
#block::-webkit-scrollbar-thumb {
    background: #20c451 !important; 
}
#block::-webkit-scrollbar-track {
    background: rgb(202, 56, 56) !important;
}